# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.pkl
*.csv

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.so
*.ipa
*.apk
*.debug
*.symbols

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
output_text/
images/
*.json
!test_api_hindi_out.json
